@import vars

@media (max-width: 1500px)
  .adv-leaves
    right: -100px

/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

  .adv-leaves
    right: 0
    width: 150px

  .adv-item
    margin-bottom: 50px
    &-icon
      width: 60px
      margin-right: 10px
    &-title
      width: calc(100% - 70px)
      font-size: 20px

  .how-item
    width: calc(20% - 30px)
    &-img
      width: 120px
      height: 120px
      padding: 25px
    &-title
      font-size: 18px

  .products-wrap
    padding: 0
    li
      a
        font-size: 20px

  .body-form
    padding-left: 0
    padding-right: 0

  .s-intro
    h1
      font-size: 48px
    .btn
      font-size: 30px
      padding-left: 50px
      padding-right: 50px

  .top-line
    .btn
      font-size: 20px
      padding-left: 20px
      padding-right: 20px
    .contacts
      .call
        font-size: 18px
    .mail
      padding-left: 30px
      &:before
        width: 21px
        height: 16px
        top: calc(50% - 8px)

  .site-name
    font-size: 22px

  .main-mnu
    li
      a
        &:after
          right: -30px

// ≥992px
+media-breakpoint-down(md)

  .about-content
    margin-left: 40px
    margin-right: 40px
    font-size: 20px

  .how-item
    width: calc(20% - 20px)
    &-img
      width: 100px
      height: 100px
    &-title
      font-size: 16px

  .section-title
    font-size: 28px

  .products-wrap
    ul
      flex-wrap: wrap
      justify-content: center
    li
      a
        font-size: 16px
        margin: 0 5px 10px

  .product-item
    &-content
      padding-left: 20px
      padding-top: 20px
      padding-bottom: 30px
      padding-right: 20px
    &-list
      margin-bottom: 30px

  .product-li
    font-size: 16px

  form
    h3
      font-size: 28px
    p
      padding-left: 40px
      padding-right: 40px

  .body-form
    .btn-wrap, .btn
      width: 200px
    label
      width: calc((100% - 240px)/2)
    input[type="text"]
      padding-left: 20px

  .s-intro
    padding: 50px 0
    h1
      font-size: 36px
    .btn
      font-size: 24px

  .intro-item
    width: 100%
    margin-bottom: 20px
    &-desc
      font-size: 20px

  .main-mnu
    ul
      font-size: 16px
    li
      a
        &:after
          right: -21px
          height: 14px
          top: calc(50% - 7px)

  .top-line
    .btn
      width: auto
      margin-top: 15px
    .mail
      width: auto
    .container
      flex-wrap: wrap
    .contacts
      margin-left: 0
  .topline-item
    width: 50%

  .messangers
    flex-grow: 2
    text-align: right


// ≥768px
+media-breakpoint-down(sm)

  .about-content
    margin-left: 0
    margin-right: 0

  .s-how
    padding-bottom: 20px

  .how-wrap
    flex-wrap: wrap
    justify-content: center

  .how-item
    width: calc(33.333% - 40px)
    margin-bottom: 30px

  .product-item
    flex-direction: column
    &-img
      height: 300px
      width: 100%
    &-content
      width: 100%
      border-left: none
      border-top: 2px solid #e8e8e8

  .par-leaves
    display: none

  .body-form
    .form-labels-wrap
      flex-wrap: wrap
    label
      width: 100%
      margin-bottom: 15px
    .btn-wrap
      //margin-top: 15px
      text-align: center
      width: 100%
    .label-checkbox
      text-align: left

  .s-intro
    background-position: top right
    h1
      text-align: center
    .btn-wrap
      text-align: center
      margin-top: 30px
  .intro-list
    margin-bottom: 15px

  .intro-item
    width: calc(50% - 10px)

  .intro-img
    max-width: 200px

  .mnu-line
    display: none

  .hamburger
    display: block

  .top-line
    .btn-wrap
      order: 2
      width: 100%
      text-align: center
    .contacts
      margin-top: 10px

  .logo
    width: 100%

// ≥480px
+media-breakpoint-down(xs)

  .about-leaves
    display: none

  .about-pallets
    display: none

  .about-content
    padding: 30px 25px
    font-size: 18px
    line-height: 1.2
    p
      margin-bottom: 16px

  .adv-leaves
    display: none

  .adv-item
    flex-direction: column
    &-icon
      width: 100%
      margin-bottom: 10px
      img
        margin-left: auto
        margin-right: auto
        max-width: 60px
    &-title
      width: 100%
      text-align: center
      font-size: 18px

  .scobs-img
    bottom: -20px

  .s-how
    background-repeat: repeat-y
    background-size: inherit

  .how-item
    width: 100%
    margin-bottom: 50px
    &-img
      width: 130px
      height: 130px
    &-title
      font-size: 20px

  .product-item
    &-img
      height: 240px
    &-title
      font-size: 24px

  .order-title
    font-size: 18px
  .order-desc
    font-size: 16px

  .products-wrap
    li
      a
        font-size: 14px
        padding: 5px 10px 7px

  .section-desc
    font-size: 16px

  .s-form
    padding: 40px 0 20px

  form
    p
      font-size: 16px
      padding-left: 0
      padding-right: 0
    input[type="text"]
      font-size: 18px

  .s-intro
    h1
      font-size: 28px

  .intro-item
    width: 100%
    padding: 0 20px

  .top-line
    .contacts
      margin-left: 5px
      .call
        font-size: 13px
        margin-bottom: 3px

  .mess-item
    margin-right: 3px
    img
      max-width: 16px
      height: auto
      display: block
      width: 100%

@media screen and (max-width: 420px)

  form, .body-form
    .btn
      width: 100%

  .mess-item
    margin-right: 5px
    img
      max-width: 18px

  .top-line
    .container
      padding-top: 10px
      padding-bottom: 20px
      flex-direction: column
    .mail
      margin-top: 15px
    .contacts
      width: 100%
      flex-direction: column-reverse
      margin-top: 15px
      line-height: 1.2
      .phones
        text-align: center
        margin-left: 0
      .call
        font-size: 18px
        margin-bottom: 6px
    .btn
      font-size: 16px
      padding-left: 35px
      padding-right: 35px
      margin-top: 20px

  .messangers
    flex-grow: initial
    text-align: center
    margin-top: 15px

  .hamburger
    top: 8px

  .site-name
    font-size: 20px
    margin-bottom: 3px
  .site-desc
    font-size: 14px

/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
